#footer-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: #cd1826;
  margin-top: 0;


  #footer {
    width: 80%;
    color: #ffffff;
    margin-bottom: 0;
    h3{font-size: 1em; text-decoration: none;}
      @include grid-row();
        .footer-colonna {
          padding: rem-calc(30) 0;
          @include breakpoint(small) {
            @include grid-column(12);
          }


          @include breakpoint(large) {
            @include grid-column(4);
          }

        .footer-menu {
          text-align: left;
          padding-left: 20%;
          h3 { text-align: left; }
          ul {
            text-align: left;
            list-style-type: none;
            margin: 0;
            padding: 0;
            a { color: #fff;  }
          }
          img { margin-bottom: 17px; }
        }
      }
    }



}

#banda-loghi-tvn{
  background-color: #ffffff;
  margin: 5% auto;
  text-align: center;
  @include breakpoint(medium down) {
    max-width: 90%;
  }
}

.inverted {
	filter: invert(100%);
}
